<header class="topo">

  <div class="menu">
    <app-menu>☰</app-menu>
  </div>
 
  <div class="marca">
    <!-- Substitua o src pelo caminho real da sua imagem -->
    <img src="icone-logo-quarta-pagina.png" alt="Logo" class="logo-pequena">
    <h1 class="frase-header">QUARTA PÁGINA</h1>
  </div>

  <nav>
    <a routerLink="/home">Início</a>
    <a routerLink="/livros">Explorar</a>
    <a routerLink="/favoritos">Favoritos</a>
    <a routerLink="/adicionar">Usuário</a>
    <a routerLink="/emprestimos">Emprestimo</a>
  </nav>

</header>